extends layout

block content
  div#main
    img(src='https://refarch-demos.s3.amazonaws.com/images/nytimes.png')
    img(src='https://refarch-demos.s3.amazonaws.com/images/cloud.jpg')&attributes({'width': '75%'})
    h2= ip
